@charset "utf-8";
/* CSS Document */



@media (min-width:1558px){
body{
	padding: 0;
	margin: 0 auto;
	}
	#navBarAwd{
			postion:fixed;
			padding: 0;
			margin: 0 auto;
			height: 55px;
		}
		
		#awdLogo{
			padding:0;
			margin:0 auto;
			height: 50px;		
			
						
		}
		.hero{
			padding: 2%;
			margin: 0 auto;
			width: auto;
			height: 250px;
			background: #E1282B
		
		}
		.clear{
			clear:both;				
		}
		h1 {
			padding: 5%;		
			margin: 0 25%;
			
		}
		p{
		   margin: 0 20%;
		   font-size: 23px;
			
			
		}
		.intro{
			
		}
		.artworks{
			padding:0;
			margin:2% 6% 2% 2%;
			height: 550px;
			width: 550px;
			border-radius: 50%;			
			float:left;
			flex-flow: row 2;	
			
		}
		#forestPic{
			
			border-radius: 50%;
			margin: 0 -5% 0 -8%;
			position: relative;
			left:  5%;
								
		}
		#forestPic1{
			
			border-radius: 50%;
			margin: 0 -5% 0 -8%;
			position: relative;
			left:  10%;
			
		}
		#forestPic2{
			
			border-radius: 50%;
			margin: 0 -5% 0 -8%;
			position: relative;
			left: 5%;
						
		}
			#forestPic3{
		
			border-radius: 50%;
			margin: 0 -5% 0 -8%;
			position: relative;
			left:  10%;	
						
		}
		.socialMedia{
			padding: 2%;
			margin: 0 auto;
			height:550px;
			background: #23ED14
		}
	
}

}
@media (min-width:1366px){body{
	padding: 0;
	margin: 0 auto;
	}
	#navBarAwd{
			postion:fixed;
			padding: 0;
			margin: 0 auto;
			height: 55px;
		}
		
		#awdLogo{
			padding:0;
			margin:0 auto;
			height: 50px;		
			
						
		}
		.hero{
			padding: 2%;
			margin: 0 auto;
			width: auto;
			height: 250px;
			background: #E1282B
			
				
			
			
		}
		.clear{
			clear:both;				
		}
		h1 {
			padding: 5%;		
			margin: 0 15%;
			
		}
		p{
		   margin: 0 10%;
		   font-size: 23px;
			
			
		}
		.intro{
			
		}
		.artworks{
			padding:0;
			margin:0;
			width: 500px;
			height: 500px;
			border-radius: 50%;			
			flex-flow: row 2;	
			
		}
		#forestPic{
			width: 500px;
			height: 500px;
			border-radius: 50%;
			margin: 0 0 6%  20%;
		
			
		
		}
		#forestPic1{
			width: 500px;
			height: 500px;
			border-radius: 50%;
			margin:0 0 6% 20%;
			
			
			
		}
		#forestPic2{
			width: 500px;
			height: 500px;
			border-radius: 50%;
			margin: 0 0 6% 20%;
			
		
						
		}
			#forestPic3{
			width: 500px;
			height: 500px;
			border-radius: 50%;
			margin: 0 0 6% 20%;
		
		
		}
		.socialMedia{
			padding: 2%;
			margin: 0 auto;
			height:550px;
			background: #23ED14
		}
	
}
	


@media (min-width:1280px){body{
	padding: 0;
	margin: 0 auto;
	}
	#navBarAwd{
			postion:fixed;
			padding: 0;
			margin: 0 auto;
			height: 55px;
		}
		
		#awdLogo{
			padding:0;
			margin:0 auto;
			height: 50px;		
			
						
		}
		.hero{
			padding: 2%;
			margin: 0 auto;
			width: auto;
			height: 250px;		
			
		}
		.clear{
			clear:both;				
		}
		h1 {
			padding: 5%;		
			margin: 0 20%;
			
		}
		p{
		   margin: 0 15%;
		   font-size: 23px;
			
			
		}
		.intro{
			
		}
		.artworks{
			padding:0;
			margin:0 0 5% 15%;
			height: 400px;
			width: 400px;
			float:left;
			border-radius: 50%;			
			flex-flow: row 2;	
			
		}
		#forestPic{
			height: 400px;
			width: 400px;
			border-radius: 50%;
			margin: 0 -5% 0 -8%;
			
								
		}
		#forestPic1{
			height: 400px;
			width: 400px;
			border-radius: 50%;
			margin: 0 -5% 0 -8%;
			
			
		}
		#forestPic2{
			height: 400px;
			width: 400px;
			border-radius: 50%;
			margin: 0 -5% 0 -8%;
		
						
		}
			#forestPic3{
			height: 400px;
			width: 400px;	
			border-radius: 50%;
			margin: 0 -5% 0 -8%;
			
						
		}
		.socialMedia{
			padding: 2%;
			margin: 0 auto;
			height:550px;
			background: #23ED14
		}
	
}


@media (min-width:1024px){
	
	body{
	padding: 0;
	margin: 0 auto;
	}
	#navBarAwd{
			postion:fixed;
			padding: 0;
			margin: 0 auto;
			height: 55px;
		}
		
		#awdLogo{
			padding:0;
			margin:0 auto;
			height: 50px;		
			
						
		}
		.hero{
			padding: 2%;
			margin: 0 auto;
			width: auto;
			height: 250px;
			background: #E1282B
			
			
			
		}
		.clear{
			clear:both;				
		}
		h1 {
			padding: 5%;		
			margin: 0 10%;
			
		}
		p{
		   margin: 0  5%;
		   font-size: 23px;
			
			
		}
		.intro{
			
		}
		.artworks{
			padding:0;
			margin:0 0 5% 15%;
			height: 350px;
			width: 350px;
			float:left;
			border-radius: 50%;			
			flex-flow: row 2;	
			
		}
		#forestPic{
			height:350px;
			width: 350px;
			border-radius: 50%;
			margin: 0 -5% 0 -18%;
			
								
		}
		#forestPic1{
			height: 350px;
			width: 350px;
			border-radius: 50%;
			margin: 0 -5% 0  -38%;
			
			
		}
		#forestPic2{
			height: 350px;
			width: 350px;
			border-radius: 50%;
			margin: 0 -5% 0 -18%;
		
						
		}
			#forestPic3{
			height: 350px;
			width: 350px;	
			border-radius: 50%;
			margin: 0 -5% 0 -38%;
			
						
		}
		.socialMedia{
			padding: 2%;
			margin: 0 auto;
			height:550px;
			background: #23ED14
		}
	
}


@media (min-width: 414px){
	body{
	padding: 0;
	margin: 0 auto;
	}
	#navBarAwd{
			postion:fixed;
			padding: 0;
			margin: 0 auto;
			height: 55px;
		}
		
		#awdLogo{
			padding:0;
			margin:0 auto;
			height: 50px;		
			
						
		}
		.hero{
			padding: 2%;
			margin: 0 auto;
			width: auto;
			height: 250px;
			background: #E1282B
			
			
			
		}
		.clear{
			clear:both;				
		}
		h1 {
			padding: 0%;		
			margin: 0 10%;
			
		}
		p{
		   padding: 2%;	
		   margin: 0;
		   font-size: 23px;
			
			
		}
		.intro{
			
		}
		.artworks{
			padding:0;
			margin:0 0 5% 15%;
			height: 350px;
			width: 350px;
			float:left;
			border-radius: 50%;			
			flex-flow: row 1;	
			
		}
		#forestPic{
			height:350px;
			width: 350px;
			border-radius: 50%;
			margin: 0 -5% 0 -18%;
			
								
		}
		#forestPic1{
			height: 350px;
			width: 350px;
			border-radius: 50%;
			margin: 0 -5% 0  -18%;
			
			
		}
		#forestPic2{
			height: 350px;
			width: 350px;
			border-radius: 50%;
			margin: 0 -5% 0 -18%;
		
						
		}
			#forestPic3{
			height: 350px;
			width: 350px;	
			border-radius: 50%;
			margin: 0 -5% 0 -18%;
			
						
		}
		.socialMedia{
			padding: 2%;
			margin: 0 auto;
			height:550px;
			background: #23ED14
		}
	
}
