/* CSS Document */
/* CSS Document */
/* CSS Document */
/* CSS Document */
/* CSS Document */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.clear {
  clear: both; }

/* CSS Document */
/* CSS Document */
/* CSS Document */
/* CSS Document */
/* CSS Document */
/* CSS Document */
/* CSS Document */
/* CSS Document */
/* CSS Document */
.lightingStrike {
  height: 100rem; }

.lightingStrike-image {
  position: absolute;
  height: 100rem;
  width: 100%;
  z-index: 10;
  background-color: transparent; }

/* CSS Document */
.sixPiecePicture {
  height: 85rem;
  width: 100%; }

.mainImage1 {
  width: 30rem; }

.mainImage1--image1 {
  height: 85rem;
  width: 30rem;
  -webkit-clip-path: polygon(10% 0%, 90% 0%, 90% 90%, 100% 90%, 50% 100%, 0% 90%, 10% 90%);
  clip-path: polygon(10% 0%, 90% 0%, 90% 90%, 100% 90%, 50% 100%, 0% 90%, 10% 90%); }

.mainImage2 {
  width: 30rem; }

.mainImage2--image2 {
  height: 85rem;
  width: 30rem;
  -webkit-clip-path: polygon(50% 0%, 100% 10%, 90% 10%, 90% 100%, 10% 100%, 10% 10%, 0% 10%);
  clip-path: polygon(50% 0%, 100% 10%, 90% 10%, 90% 100%, 10% 100%, 10% 10%, 0% 10%); }

.mainImage3 {
  width: 30rem; }

.mainImage3--image3 {
  height: 85rem;
  width: 30rem;
  -webkit-clip-path: polygon(10% 0%, 90% 0%, 90% 90%, 100% 90%, 50% 100%, 0% 90%, 10% 90%);
  clip-path: polygon(10% 0%, 90% 0%, 90% 90%, 100% 90%, 50% 100%, 0% 90%, 10% 90%); }

.mainImage4 {
  width: 30rem; }

.mainImage4--image4 {
  height: 85rem;
  width: 30rem;
  -webkit-clip-path: polygon(50% 0%, 100% 10%, 90% 10%, 90% 100%, 10% 100%, 10% 10%, 0% 10%);
  clip-path: polygon(50% 0%, 100% 10%, 90% 10%, 90% 100%, 10% 100%, 10% 10%, 0% 10%); }

.mainImage5 {
  width: 30rem; }

.mainImage5--image5 {
  height: 85rem;
  width: 30rem;
  -webkit-clip-path: polygon(10% 0%, 90% 0%, 90% 90%, 100% 90%, 50% 100%, 0% 90%, 10% 90%);
  clip-path: polygon(10% 0%, 90% 0%, 90% 90%, 100% 90%, 50% 100%, 0% 90%, 10% 90%); }

.mainImage6 {
  width: 30rem; }

.mainImage6--image6 {
  height: 85rem;
  width: 30rem;
  -webkit-clip-path: polygon(50% 0%, 100% 10%, 90% 10%, 90% 100%, 10% 100%, 10% 10%, 0% 10%);
  clip-path: polygon(50% 0%, 100% 10%, 90% 10%, 90% 100%, 10% 100%, 10% 10%, 0% 10%); }

/* CSS Document */
/* CSS Document */
.logoHeader {
  width: 182.5rem;
  height: 15rem;
  margin: 0 auto; }

.logoImage {
  height: 15rem;
  width: 35%; }

.logoText {
  height: 15rem;
  width: 123%;
  margin-left: -30rem; }

/* CSS Document */
.row {
  max-width: 182.5rem;
  margin: 0 auto; }

.row:not(:last-child) {
  margin-bottom: 8rem; }

.row::after {
  content: "";
  display: table;
  clear: both; }

.row [class^="col-"] {
  float: left; }

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem; }

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2); }

.row .col-1-of-3 {
  width: calc((100% - 2*6rem)   / 3); }

.row .col-2-of-3 {
  width: calc(2 *  ((100% - 2 *6rem)   / 3) + 6rem); }

.row .col-1-of-4 {
  width: calc((100% - 3* 6rem) / 4); }

.row .col-2-of-4 {
  width: calc(( 2 * (100% - 3* 6rem) / 4) + 6rem); }

.row .col-3-of-4 {
  width: calc(( 3 * (100% - 3* 6rem) / 4) + (2 * 6rem)); }

/* CSS Document */
/* CSS Document */
/* CSS Document */
@media (min-width: 1558px) {
  body {
    padding: 10;
    margin: 0 auto; }
  #navBarAwd {
    postion: fixed;
    padding: 0;
    margin: 0 auto;
    height: 55px; }
  #awdLogo {
    padding: 0;
    margin: 0 auto;
    height: 50px; }
  .hero {
    padding: 2%;
    margin: 0 auto;
    width: auto;
    height: 250px;
    background: #E1282B; }
  .clear {
    clear: both; }
  h1 {
    padding: 5%;
    margin: 0 25%; }
  p {
    margin: 0 20%;
    font-size: 23px; }
  .artworks {
    padding: 0;
    margin: 2% 6% 2% 2%;
    height: 550px;
    width: 550px;
    border-radius: 50%;
    float: left;
    flex-flow: row 2; }
  #forestPic {
    border-radius: 50%;
    margin: 0 -5% 0 -8%;
    position: relative;
    left: 5%; }
  #forestPic1 {
    border-radius: 50%;
    margin: 0 -5% 0 -8%;
    position: relative;
    left: 10%; }
  #forestPic2 {
    border-radius: 50%;
    margin: 0 -5% 0 -8%;
    position: relative;
    left: 5%; }
  #forestPic3 {
    border-radius: 50%;
    margin: 0 -5% 0 -8%;
    position: relative;
    left: 10%; }
  .socialMedia {
    padding: 2%;
    margin: 0 auto;
    height: 550px;
    background: #23ED14; } }

@media (min-width: 1366px) {
  body {
    padding: 0;
    margin: 0 auto; }
  #navBarAwd {
    postion: fixed;
    padding: 0;
    margin: 0 auto;
    height: 55px; }
  #awdLogo {
    padding: 0;
    margin: 0 auto;
    height: 50px; }
  .hero {
    padding: 2%;
    margin: 0 auto;
    width: auto;
    height: 250px;
    background: #E1282B; }
  .clear {
    clear: both; }
  h1 {
    padding: 5%;
    margin: 0 15%; }
  p {
    margin: 0 10%;
    font-size: 23px; }
  .artworks {
    padding: 0;
    margin: 0;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    flex-flow: row 2; }
  #forestPic {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: 0 0 6%  20%; }
  #forestPic1 {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: 0 0 6% 20%; }
  #forestPic2 {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: 0 0 6% 20%; }
  #forestPic3 {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: 0 0 6% 20%; }
  .socialMedia {
    padding: 2%;
    margin: 0 auto;
    height: 550px;
    background: #23ED14; } }

@media (min-width: 1280px) {
  body {
    padding: 0;
    margin: 0 auto; }
  #navBarAwd {
    postion: fixed;
    padding: 0;
    margin: 0 auto;
    height: 55px; }
  #awdLogo {
    padding: 0;
    margin: 0 auto;
    height: 50px; }
  .hero {
    padding: 2%;
    margin: 0 auto;
    width: auto;
    height: 250px; }
  .clear {
    clear: both; }
  h1 {
    padding: 5%;
    margin: 0 20%; }
  p {
    margin: 0 15%;
    font-size: 23px; }
  .artworks {
    padding: 0;
    margin: 0 0 5% 15%;
    height: 400px;
    width: 400px;
    float: left;
    border-radius: 50%;
    flex-flow: row 2; }
  #forestPic {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    margin: 0 -5% 0 -8%; }
  #forestPic1 {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    margin: 0 -5% 0 -8%; }
  #forestPic2 {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    margin: 0 -5% 0 -8%; }
  #forestPic3 {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    margin: 0 -5% 0 -8%; }
  .socialMedia {
    padding: 2%;
    margin: 0 auto;
    height: 550px;
    background: #23ED14; } }

@media (min-width: 1024px) {
  body {
    padding: 0;
    margin: 0 auto; }
  #navBarAwd {
    postion: fixed;
    padding: 0;
    margin: 0 auto;
    height: 55px; }
  #awdLogo {
    padding: 0;
    margin: 0 auto;
    height: 50px; }
  .hero {
    padding: 2%;
    margin: 0 auto;
    width: auto;
    height: 250px;
    background: #E1282B; }
  .clear {
    clear: both; }
  h1 {
    padding: 5%;
    margin: 0 10%; }
  p {
    margin: 0  5%;
    font-size: 23px; }
  .artworks {
    padding: 0;
    margin: 0 0 5% 15%;
    height: 350px;
    width: 350px;
    float: left;
    border-radius: 50%;
    flex-flow: row 2; }
  #forestPic {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    margin: 0 -5% 0 -18%; }
  #forestPic1 {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    margin: 0 -5% 0  -38%; }
  #forestPic2 {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    margin: 0 -5% 0 -18%; }
  #forestPic3 {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    margin: 0 -5% 0 -38%; }
  .socialMedia {
    padding: 2%;
    margin: 0 auto;
    height: 550px;
    background: #23ED14; } }

@media (min-width: 414px) {
  body {
    padding: 0;
    margin: 0 auto; }
  #navBarAwd {
    postion: fixed;
    padding: 0;
    margin: 0 auto;
    height: 55px; }
  #awdLogo {
    padding: 0;
    margin: 0 auto;
    height: 50px; }
  .hero {
    padding: 2%;
    margin: 0 auto;
    width: auto;
    height: 250px;
    background: #E1282B; }
  .clear {
    clear: both; }
  h1 {
    padding: 0%;
    margin: 0 10%; }
  p {
    padding: 2%;
    margin: 0;
    font-size: 23px; }
  .artworks {
    padding: 0;
    margin: 0 0 5% 15%;
    height: 350px;
    width: 350px;
    float: left;
    border-radius: 50%;
    flex-flow: row 1; }
  #forestPic {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    margin: 0 -5% 0 -18%; }
  #forestPic1 {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    margin: 0 -5% 0  -18%; }
  #forestPic2 {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    margin: 0 -5% 0 -18%; }
  #forestPic3 {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    margin: 0 -5% 0 -18%; }
  .socialMedia {
    padding: 2%;
    margin: 0 auto;
    height: 550px;
    background: #23ED14; } }
